<h1>Hi <%= @user %></h1>
<p>
  <%= @event.user.email %> has updated the details of <%= @event.name %>.<br/><br/>
  
  <em>Event Details:</em><br/>
  Venue: <%= @event.location %><br/>
  Description: <%= @event.description %><br/>
  From: <%= @event.startTime %><br/> 
  To: <%= @event.endTime %><br/><br/>

  <em>
  <%= link_to "Accept", controller: 'events', action: 'respondToInvite', email: @user, eventId: @event.id, status: "accepted"%>
  <%= link_to "Decline", controller: 'events', action: 'respondToInvite', email: @user, eventId: @event.id, status: "declined"%>
  <%= link_to "May be", controller: 'events', action: 'respondToInvite', email: @user, eventId: @event.id, status: "undecided"%>
  </em>
</p>